@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Light.eot');
    src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'),
        url('../fonts/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Light.woff') format('woff'),
        url('../fonts/RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-LightItalic.eot');
    src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'),
        url('../fonts/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-LightItalic.woff') format('woff'),
        url('../fonts/RobotoCondensed-LightItalic.svg#RobotoCondensed-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Italic.eot');
    src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'),
        url('../fonts/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-Italic.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Italic.woff') format('woff'),
        url('../fonts/RobotoCondensed-Italic.svg#RobotoCondensed-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Regular.eot');
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'),
        url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
        url('../fonts/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Bold.eot');
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'),
        url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
        url('../fonts/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-BoldItalic.eot');
    src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'),
        url('../fonts/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-BoldItalic.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-BoldItalic.woff') format('woff'),
        url('../fonts/RobotoCondensed-BoldItalic.svg#RobotoCondensed-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

